<footer>
    <div class="container row">
        <div class="d-flex">
            <div class="">
                <img src="{{ asset ('img/logo-ios.png') }}" alt="">
            </div>
            <div class="fs-6">
                <ul>
                    <li><a href="#">Mon profil</a></li>
                    <li><a href="#">À propos</a></li>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Historique</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section id="copyright" class="d-flex justify-content-center">
        <small>Strutoscop©2022</small>
    </section>
</footer>
