<footer>
    <div class="container row p-4 ">
        <div class="d-flex justify-content-between mb-5">
            <div>
                <img src="{{ asset ('img/logo-ios.png') }}" alt="">
            </div>
            <div>
                <ul>
                    <li><a href="#">Mon profil</a></li>
                    {# <li><a href="{{path('app_gallery_index')}}">Galerie</a></li> #}
                    <li><a href="#">Mon profil</a></li>
                    <li><a href="{{path('app_policy')}}">Mentions légales</a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <section id="copyright" class="d-flex justify-content-center mt-5">
        <small>Strutoscope©2022</small>
    </section>
</footer>
