<footer>
    <div class="container row justify-content-around">
        <div class="col-12">
            <div class="d-flex flex-row ">
                <img src="{{ asset ('img/logo-ios.png') }}" alt="">
            </div>
            <div class="d-flex flex-row-reverse">
                <ul>
                    <li><a >Mon profil</a></li>
                    <li><a>À propos</a></li>
                    <li><a>Mentions légales</a></li>
                    <li><a>Historique</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section id="copyright" class="d-flex justify-content-center">
        <small>Strutoscop© 2022</small>
    </section>
</footer>
