<footer>
    <div class="container p-4 ">
        <div class="d-flex justify-content-between">
            <div class="col-3">
                <img src="{{ asset ('img/logo-ios.png') }}" alt="">
            </div>
            <div class="col-3">
                <ul>
                    <li><a href="#">Mon profil</a></li>
                    <li><a href="#">À propos</a></li>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Historique</a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <section id="copyright" class="d-flex justify-content-center">
        <small>Strutoscop©2022</small>
    </section>
</footer>
