:root{
    font-family: 'Barlow', sans-serif;
}
footer{
    background: #281753;
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: 'Poppins', regular, sans-serif;
}
footer ul{
    margin-right: 50px;
}

footer a:link{
    text-decoration: none;
}
footer a{
    line-height: 15px;
    font-size: 46px;
}
footer img{
    width: 50%;
    margin-left: 50px;
}
#copyright small{
    color: white;
    font-size: 14px;
}
a:hover{
    color: #E41C64;
}
