:root{
    font-family: 'Barlow', sans-serif;
}
footer{
    background: #281753;
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: 'Poppins', regular, sans-serif;
}
footer div ul li{
    list-style: none;
    line-height: 2em;
}
footer a:link{
    text-decoration: none;
}
footer a{
    line-height: 15px;
}
footer img{
    width: 15%;
    margin-left: 50px;
}
#copyright, a{
    color: white;
}
a:hover{
    color: #E41C64;
}
